*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
        font-family: Arial, Helvetica, sans-serif;
      }
form{
    padding: 20px;
    background-color: #ddd;
    margin: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}
input{
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border : none
}
input[type="submit"]{
    cursor: pointer;
    background-color: #28a745;
    color: white;
}

.result{
    padding: 20px;
    background-color: #ddd;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

[data-in]{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap:10px
}

[data-in] > p{
    font-size: 20px;
    text-transform: capitalize;
    flex-grow: 1;
    outline: none;
}

.btns-container{
    display: flex;
    grid-gap: 5px;
}

button{
    outline: none;
    border-radius: 5px;
    padding:1px 5px;
    border: none;
    color: white;
}
.delete{
    background-color: #dc3545;
}
.edit{
    background-color: #007bff;
}
.save{
    background-color: #28a745;
}
.done{
    background-color: #20c997;
}